h3{
    color:rgb(61, 87, 238);
    text-align: center;
    letter-spacing: .2rem;
    font-weight: 400;
    margin-top: 50px;
}

.form-transaction form input{
    border: 1px solid rgb(61, 87, 238);
    width: 500px;
    height: 50px;
    border-radius: 10px;
    
}
    
.form-transaction{
    text-align: center;
    margin-top: 50px;
}

.button button{
    background-color: rgb(61, 87, 238);
    border: 1px solid rgb(61, 87, 238);
    margin-top: 20px;
    padding: 10px 20px;
    color: white;
    border-radius: 10px;
    
}

button button #btn:hover{
    color: teal;
    background-color: thistle;
}

.table table th{
    letter-spacing: .2rem;
}
.table table{
    border: 2px solid rgb(61, 87, 238);
    width: 100%;
    border-collapse: collapse;
    font-weight: 500;
}
.table table, #btn1{
    display: none;  
    
}
#btn1{
    margin: 5px;
    float: right;
    background-color: rgb(207, 13, 13);
    border: 1px solid rgb(207, 13, 13);
    margin-top: 5px;
    padding: 10px 20px;
    color: white;
    border-radius: 10px;
}
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }

.table{
    margin-top: 40px;
    padding: 5px;
}
